@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans');

body {
    min-height: 100vh;
    margin: 0 auto;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    position: relative;
    display: flex;
    background-color: white;
    width: 80%;
    max-width: 768px;
    border-radius: 2rem;
    box-shadow: 1rem 2rem 2rem #5542a9;
}
    .box {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        transform: translate(-50%, -30%);
    }

    .image {
        position: relative;
        width: calc(50% + 4rem);
        filter: drop-shadow(0 4rem 0 #f0f0fc);
        display: flex;
        align-items: center;
        overflow: hidden;
    }
        .image img {
            width: 100%;
            position: absolute;
            left: -15%;
        }

    .faq {
        padding: 4rem 4rem 4rem 0;
        width: 50%;
        font-family: 'Kumbh Sans', sans-serif;
    }
        .faq h1 {
            margin-block-start: 0;
            color: hsl(238, 29%, 16%);
        }

        .faq .question:hover {
            cursor: pointer;
        }

        .faq .question .questionContent {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: hsl(237, 12%, 33%);
            margin-block-end: 1rem;
        }
            .faq .question:hover .questionContent {
                color: hsl(14, 88%, 65%);
            }

        .faq .question .answer {
            display: none;
            margin-block-end: 1rem;
            color: hsl(240, 6%, 50%);
        }

footer {
    position: fixed;
    bottom: 1vh;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-aspect-ratio: 1 / 1) and (max-width: 767px) {
    body {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }

    main {
        flex-direction: column;
    }
        .box {
            top: 0;
            width: 30%;
            transform: translate(30%, -50%);
        }

       .image {
            position: static;
            height: 10vh;
            width: 100%;
            overflow: visible;
            filter: drop-shadow(0 2rem 0 #f0f0fc);
            justify-content: center;
            align-items: start;
        }
            .image img {
                position: static;
                width: 75%;
                transform: translate(0, -60%);
            }

        .faq {
            padding: 2rem;
            width: auto;
        }
}